body {
    background: linear-gradient(180deg, #FFA959 0%, #FFBF84 100%);        
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo-image-container {
    overflow: hidden;
    width: auto; 
    height: auto;       
    margin-bottom: 20px; /* Adds some space between the logo and the next element */
}
.logo-image-container img{
    width: 40%;
    height: 40%;
    object-fit: cover;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    
}
.login-container h2 {
    text-align: center;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: inline-block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-group input[type="checkbox"] {
    display: inline-block;
    width: auto;
}
.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #555;
}
.login-footer {
    text-align: center;
    margin-top: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }